html,body{width:100%;height:100%;overflow: hidden;}
/*loading动画*/
#loadBox{
    width:100%;
    height:100%;
    position:fixed;
    background: #FFCCD4;
    top:0;
    left:0;
    z-index: 10;
}
#loadWord{
    position: absolute;
    margin:auto;
    left: 0;
    right:0;
    top:50%;
    color:#fff;
    display: flex;
    justify-content: center;
}
#loadWord div{
    font-size:34px;
    float: left;
}
#loadWord div:nth-of-type(8){
    -webkit-animation: word 1s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: word 1s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loadWord div:nth-of-type(9){
    -webkit-animation: word 1s linear 0.3s infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: word 1s linear 0.3s infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loadWord div:nth-of-type(10){
    -webkit-animation: word 1s linear 0.6s infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: word 1s linear 0.6s infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 40%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
/*转圈动画*/
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
/*loading文字动画*/
@-webkit-keyframes word {
    0%   {
        transform: translate(0,0);
        -ms-transform: translate(0,0); /* IE 9 */
        -webkit-transform: translate(0,0); /* Safari and Chrome */
    }
    25%   {
        transform: translate(0,-10px);
        -ms-transform: translate(0,-10px); /* IE 9 */
        -webkit-transform: translate(0,-10px); /* Safari and Chrome */
    }
    50% {
        transform: translate(0,0);
        -ms-transform: translate(0,0); /* IE 9 */
        -webkit-transform: translate(0,0); /* Safari and Chrome */
    }
    75% {
        transform: translate(0,0);
        -ms-transform: translate(0,0); /* IE 9 */
        -webkit-transform: translate(0,0); /* Safari and Chrome */
    }
    100% {
        transform: translate(0,0);
        -ms-transform: translate(0,0); /* IE 9 */
        -webkit-transform: translate(0,0); /* Safari and Chrome */
    }
}
@keyframes word {
    0%   {
        transform: translate(0,0);
        -ms-transform: translate(0,0); /* IE 9 */
        -webkit-transform: translate(0,0); /* Safari and Chrome */
    }
    25%   {
        transform: translate(0,-10px);
        -ms-transform: translate(0,-10px); /* IE 9 */
        -webkit-transform: translate(0,-10px); /* Safari and Chrome */
    }
    50% {
        transform: translate(0,0);
        -ms-transform: translate(0,0); /* IE 9 */
        -webkit-transform: translate(0,0); /* Safari and Chrome */
    }
    75% {
        transform: translate(0,0);
        -ms-transform: translate(0,0); /* IE 9 */
        -webkit-transform: translate(0,0); /* Safari and Chrome */
    }
    100% {
        transform: translate(0,0);
        -ms-transform: translate(0,0); /* IE 9 */
        -webkit-transform: translate(0,0); /* Safari and Chrome */
    }
}

/*page-main*/
.mainBox{width:100%;height:100%;}
.page-left{width:66.6666%;height:100%;float: left;background: #A8D0E6;padding:30px;position:relative;}
.page-left #Logo{width:90px;position:absolute;top:30px;left:30px;}
.page-left #Logo img{width:100%;}
.page-left #bgImg{width:65%;height:55%;position:absolute;margin:auto;top:0;bottom:0;left:0;right:0;}
.page-left #bgImg img{width:100%;}
.page-left #introduction{color:#fff;position:absolute;bottom:30px;left:30px;cursor:pointer;}
.page-right{width:33.3333%;height:100%;float: left;}
.page-right>div{height:50%;position:relative;color:#fff;padding:30px;}
.page-right>div:nth-of-type(1){background: #F76C6C}
.page-right>div:nth-last-of-type(1){background: #24305E;}
.page-right>div>div:nth-last-of-type(1){width:50%;height:30%;cursor:pointer;position:absolute;left:30px;bottom:20px;}
.bgRight{width:35%;height:55%;position:absolute;margin:auto;top:0;bottom:0;left:0;right:0;}
.bgRight img{width:100%;}
h2{margin-bottom:15px;}
h2:after{width:20px;height:3px;content: "";display: block;background: #fff;margin-top:5px;}
p{font-size: 18px;line-height: 25px;}