body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {margin: 0;padding: 0;}
*{box-sizing:border-box;}
ul, li {list-style: none;}
a {text-decoration: none;color: #232323;}
input, textarea {outline: none;box-shadow: none;}
textarea {resize: none;overflow: auto;}
.clearFix {zoom: 1;}
.clearFix:after {content: ".";width: 0;height: 0;visibility: hidden;display: block;clear: both;}
.page-col-1,.page-col-2,.page-col-3,.page-col-4,.page-col-5,.page-col-6,.page-col-7,.page-col-8,.page-col-9,.page-col-10,.page-col-11,.page-col-12{float:left;min-height: 1px;padding-right: 10px;padding-left: 10px;}
.page-col-12 {width: 100%;}
.page-col-11 {width: 91.66666667%;}
.page-col-10 {width: 83.33333333%;}
.page-col-9 {width: 75%;}
.page-col-8 {width: 66.66666667%;}
.page-col-7 {width: 58.33333333%;}
.page-col-6 {width: 50%;}
.page-col-5 {width: 41.66666667%;}
.page-col-4 {width: 33.33333333%;}
.page-col-3 {width: 25%;}
.page-col-2 {width: 16.66666667%;}
.page-col-1 {width: 8.33333333%;}
.page-row{width:100%;margin-left:-10px;margin-right:-10px;}